streamlit 
from docx import Document                                                
from docx.shared import Pt                                               
from docx.enum.text import WD_ALIGN_PARAGRAPH, WD_PARAGRAPH_ALIGNMENT    